body {
    background: url('https://i.ibb.co/mXbGZCT/nasa-Q1p7bh3-SHj8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .nav-wrapper{
    background-color: #3A547A;

}

.btn{
    background-color: #698CBF ;
}

.btn:hover{
    background-color: #A1ACBD!important;
}
.contenedor {
    backdrop-filter: blur(5px);
    background-color: hsla(199, 18%, 40%, 0.671) ;
    border-radius: 0.1em;
    color: white;
    font-size: 12px;
    height: auto;
    padding: 0em 1em;
    text-align: center;
    transition: backdrop-filter ease-in 0.5s;
    min-height: 350px;
}

.espacio{
    padding: 1px 0px 10px 10px;
}

/* crear categoria*/
.contenedor2 {
    border-radius: 0.1em;
    color: white;
    font-size: 3rem;
    height: auto;
    padding: 0em 1em;
    text-align: center;
    min-height: 350px;
    margin-top: 5%!important;
}

.cat1{
    margin: 10px 40px;
}

.cat1 input{
    color: white;
}

.card{
    padding: 15px 0px 0px 0px;
}

/*Fin crearCategoria*/

.container2{
    margin-top: 5%!important;
    margin: auto;
    width: 70%;
    background-color: #414c5e3b;
    border: 2px solid rgb(158, 158, 194);
}

table th{
    color: white!important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
}

h2{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
}

/*Ver numero de articulos por categoria */

h3{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
    font-size: 17px;
}